<div class="container h-100">
    <div class="h-25">
        {{game-player-panel gamePlayer=enemyPlayer}}
        {{game-player-hand hand=enemyPlayer.hand}}
    </div>

    <div class="h-25">
    </div>

    <div class="h-25">

    </div>
    <div class=" h-25">
        {{game-player-hand hand=heroPlayer.hand}}
        {{game-player-panel gamePlayer=heroPlayer}}
    </div>
</div>
