<div class="container h-100">
    <div class="h-25">
        {{game-player-panel isHeroPlayer=false}}
        {{game-player-hand isHeroPlayer=false}}
    </div>

    <div class="h-25">
    </div>

    <div class="h-25">

    </div>
    <div class="game-player-field h-25">
        {{game-player-hand isHeroPlayer=true}}
        {{game-player-panel isHeroPlayer=true}}
    </div>
</div>
