<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 text-center">Erudite Battles</h1>
  </div>
</div>

<div class="container">
    <p class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Bot game</a>
    </p>
    <p class="text-center">
        <a class="btn btn-primary btn-lg disabled" href="#" role="button">Versus game</a>
    </p>
</div>
